.bg-gray {
    background-color: darkgray;
}
hr{
    border: black;
    border-block-end-style: solid;
}
span.a {
    display: inline ; /* the default for span */
    width: 20px;
    height: 10px;
    padding: 1px;
    border: black solid;
    background-color: black;
    margin-left: 5px;
  }
  span.b {
    display: inline ; /* the default for span */
    width: 20px;
    height: 10px;
    padding: 1px;
    border: black solid;
    background-color: gold;
    margin-left: 5px;
  }

  .section {
  }
  .description{
   padding: 3px;
  }
  .konten{
    padding-left: 5vh;
    margin-top: 3vh;
  }
  .img-responsive{
    width: 100%;
    height: auto;
    display:block;
  }
  .list-group-item{
    background-color: darkgrey;
  }

  .img-thumbnail {
    background-color: grey;
    border: 1px grey;
  }